<% if flash[:alert] %>
  <div id="alert"><%= flash[:alert] %></div>
<% end %>
<section id="new-repo">
  <div class="title"><%=t('repo.edit') %></div>
  <%= link_to fa_icon("search", text: t('repo.view')), repository_path(@repository.user_username, @repository.id), class: 'edit-repo-link', id: 'view-repo-link' %>
  <%= form_for @repository, url: {controller: "repositories", action: "update"}, html: { multipart: true } do |f| %>

    
    <div class="mb-3">
    <%= f.label :title, t('repo.title'), class:"form-label" %>
    <div><%= t('repo.title_short_text') %></div>
    <%= f.text_field :title, class: 'repo form-control' %>
    </div>
    <div class="mb-3">
    
    <%= f.label :description, class:"form-label" %>
    <div style="width: 420px;">
      <%= f.trix_editor :description, class: 'repo form-control', style: "height: auto!important;" %>
    </div>

    </div>
    <%= label_tag :file, t('repo.files'), class:"form-label" %>
    <div class="mb-3">
      <div class="input-group mb-3">
        <%= file_field_tag 'files[]', type: :files, multiple: true, class: 'form-control', aria_label: t('repo.files') %>
        <button class="btn btn-success d-inline-block float-end w-auto" type="button" id="new-file-input">
            <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div id="file-container">
      <% @files.each do |f| %>
        <table>
          <tr class="file-item">
            <td><%= fa_icon "file-text-o" %> <%= f.file.filename %></td>
            <td><span><%= f.file.byte_size/1000 %> KB</span></td>
            <td><span id="<%= f.file.id %>" class="file-remove"><%=t('repo.remove') %></span></td>
          </tr>
        </table>
      <% end %>
      <%= hidden_field_tag 'deletefiles' %>
    </div>
    
    <%= label_tag :photo, t('repo.gallery'), class:"form-label" %>
    <div class="mb-3">
      <div><%= t('repo.gallery_short_text') %>></div>
      <div>
        <div class="input-group mb-3">
          <%= file_field_tag 'images[]', type: :files, multiple: true, class: "form-control image-upload", aria_label: t('repo.image_select') %>
          <button class="btn btn-success d-inline-block float-end w-auto" type="button" id="new-photo-input">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="repo-image">
        <div id="dragndrop" ondrop="dragndrop(event);" ondragover="dragover(event);">
          
          <%= fa_icon 'cloud-upload' %>
          <p>Drag &amp; Drop</p>
        </div>
      </div>
    </div>

    <div id="image-container">
    <% @photos.each do |img| %>
      <div class="image-item">
        <span id="<%= img.image.filename %>" class="image-remove"></span>
        <%= image_tag img.image, alt: 'Edit repository Image' %>
      </div>
    <% end %>
    <%= hidden_field_tag 'deleteimages' %>
    </div>
    <div class="mb-3">
    <%= f.label :youtube_link, "Youtube Link", class:"form-label" %>
      <div><%=t('repo.youtube_text') %></div>
    <%= f.text_field :youtube_link, class: 'repo form-control' %>
    </div>
    
    <%= f.label :categories,t('repo.category'), class:"form-label" %>
    <div><%=t("repo.category_short_text") %>></div>
    <%= f.select :categories, options_from_collection_for_select(CategoryOption.show_options, :name, :name, @categories.map { |category| category.name }), {include_blank: t('repo.select_category'),include_hidden:false},{class: "profile-text form-control form-select",multiple: true} %>

    
    <%= f.label :equipment,t('repo.equipment'), class:"form-label" %>
    <div><%=t('repo.equipment_short_text') %></div>
    <%= f.select :equipments, options_from_collection_for_select(EquipmentOption.show_options, :name, :name, @equipments.map { |equipment| equipment.name }), {include_blank: t('repo.select_equipment'),include_hidden:false},{class: "profile-text form-control form-select",multiple: true} %>
    
    <%= f.label :license, class:"form-label" %>
    <div><%=t('repo.license_short_text') %></div>
    <%= f.select :license, @repository.class.license_options, {include_blank: false}, {class: "form-control form-select"} %>

    <div id="share_option" class="form-check">
      <%= f.label :share_type, t('repo.share_type'), class:"form-label" %>
      <%= fa_icon('globe') %>
      <%= f.radio_button(:share_type, "public", :class => "show_extra form-check-input", :style => "margin-right: 4px;  height:16px;width:16px", :onclick => "hidePass();", required: true) %><%= f.label('share_type_public', "Public", :id => "type", :style => "display:inline") %>
      <div id="description"> <%=t('repo.share_type_public_desc') %></div>
      <%= fa_icon('lock') %>
      <%= f.radio_button(:share_type, "private", :class => "show_extra form-check-input", :style => "margin-right: 4px; height:16px;width:16px", :onclick => "showPass();") %><%= f.label('share_type_private', t('repo.share_type_private'), :id => "type", :style => "display:inline") %>
      <div id="description"> <%=t('repo.share_type_private_desc') %></div>

      <div id="pass" class="mb-3">
        <%= password_field :password, nil, placeholder: t('repo.share_type_pass'), id: 'password_repo_field', style: "display: none;", 'aria-label': t('repo.share_type_pass'), class: "form-control" %>
      </div>

    </div>


    
    
    
    <% content_tag "repository[id]", @repository.id%>
    <%= f.submit "Update Project", class: "btn btn-primary", id: "waiting-save-button" %>
    <span id="status-save"></span>
    
    <div id="form-error-span"></div>
    <% if flash[:alert] %>
      <div id="alert"><%= flash[:alert] %></div>
    <% end %>

  <% end %>
</section>
