<% provide(:title, "New Project") %>
<section id="new-repo">
  <div class="title"><%= t('repo.new') %></div>

  <%= form_for @repository, url: {controller: "repositories", action: "create"}, html: {multipart: true} do |f| %>

    <div class="mb-3 required">
    <%= f.label :title,t('repo.title'), class:"form-label" %>
      <div><%= t('repo.title_short_text') %></div>
    <%= f.text_field :title, class: 'repo form-control' %>
    </div>

    <div class="mb-3">
    <%= f.label :description, class:"form-label" %>
    <div style="width: 420px;">
      <%= f.trix_editor :description, class: 'repo form-control', style: "height: auto!important;" %>
    </div>
    </div>

    <div class="mb-3">
    <%= label_tag :file, t('repo.files'), class:"form-label mb-3" %>
      <div class="input-group mb-3">
        <%= file_field_tag 'files[]', type: :files, multiple: true, class: 'form-control', aria_label: t('repo.files') %>
        <button class="btn btn-success d-inline-block float-end w-auto" type="button" id="new-file-input">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>

    <div id="file-container"></div>
    <div class="mb-3 required">
      <%= label_tag :photo, "Gallery/Galerie", class:"form-label" %>
      <div><%= t('repo.gallery_short_text') %></div>
      </div>
      <div>
        <div class="input-group mb-3">
          <%= file_field_tag 'images[]', type: :files, multiple: true, class: "form-control image-upload", aria_label: t('repo.image_select') %>
          <button class="btn btn-success d-inline-block float-end w-auto" type="button" id="new-photo-input">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="repo-image">
        <div id="dragndrop" ondrop="dragndrop(event);" ondragover="dragover(event);">

          <%= fa_icon 'cloud-upload' %>
          <p>Drag &amp; Drop</p>
        </div>
      </div>

    <div id="image-container"></div>
    <div class="mb-3">
    <%= f.label :youtube_link, "Youtube Link", class:"form-label" %>
    <div><%= t('repo.youtube_text') %></div>
    <%= f.text_field :youtube_link, class: 'repo form-control' %>
    </div>
    <div class="mb-3 required">
    <%= f.label :categories, t('repo.category'), class:"form-label" %>
    <div><%= t('repo.category_short_text') %></div>
    <%= f.select :categories, options_from_collection_for_select(CategoryOption.show_options, :name, :name), {include_blank: t('repo.select_category'),include_hidden:false},{class: "profile-text form-control form-select",multiple: true} %>
    </div>
    <div class="mb-3">
    <%= f.label :equipment, t('repo.equipment'), class:"form-label" %>
    <div><%= t('repo.equipment_short_text') %></div>
    <%= f.select :equipments, options_from_collection_for_select(EquipmentOption.show_options, :name, :name), {include_blank: t('repo.select_equipment'),include_hidden:false},{class: "profile-text form-control form-select",multiple: true} %>
    </div>
    <div class="mb-3">
    <%= f.label :license, t('repo.license'), class:"form-label" %>
    <div><%= t('repo.license_short_text') %></div>
    <%= f.select :license, @repository.class.license_options, {},{class: "form-control form-select"} %>
    </div>
    <div class="mb-3">
      <% if params[:project_proposal_id].present? %>
        <%= f.hidden_field :project_proposal_id, value: params[:project_proposal_id] %>
      <% else %>

        <%= f.label :license, t('repo.proj_prop'), class:"form-label" %>
        <%= f.select(:project_proposal_id, options_for_select(@project_proposals), {:include_blank => true}, {:class => "form-control form-select"}) %>
      <% end %>
    </div>
    <div class="mb-3">
      <%= label_tag(:owner, t('repo.owner'), class:"form-label") %>
      <%= select_tag(:owner, "", prompt: t('repo.owner_select'), :class => "owner_select form-control", :id => "owner_select", multiple: true) %>
    </div>
    <div id="share_option">
      <%= f.label :share_type, t('repo.share_type'), class:"form-label" %>
      <%= f.radio_button(:share_type, t('repo.share_type_public'), :class => "show_extra form-check-input", :style => "margin-right: 4px;  height:16px;width:16px", :onclick => "hidePass();") %><%= f.label('share_type_public', fa_icon('globe') +  " Public", :id => "type", :style => "display:inline") %>
      <div id="description"> <%=t('repo.share_type_public_desc') %></div>
      <%= f.radio_button(:share_type, t('repo.share_type_private'), :class => "show_extra form-check-input", :style => "margin-right: 4px; height:16px;width:16px", :onclick => "showPass();") %><%= f.label('share_type_private', fa_icon('lock') + t('repo.share_type_private'), :id => "type", :style => "display:inline") %>
      <div id="description"> <%=t('repo.share_type_private_desc') %></div>

      <div id="pass" class="mb-3">
        <%= password_field :password, nil, placeholder: t('repo.share_type_pass'), id: 'password_repo_field', style: "display: none;", 'aria-label': t('repo.share_type_pass'), class: "form-control" %>
      </div>
      <div class="invalid-feedback">
        <%=t('repo.share_type_select') %>
      </div>
    </div>



    <%= f.submit t('repo.create'), class: "btn btn-primary", id: "waiting-save-button" %>
    <span id="status-save"></span>

    <div id="form-error-span"></div>

  <% end %>

</section>
<script type="text/javascript" charset="utf-8">
    document.addEventListener("turbolinks:load", function() {
      if (document.getElementById("owner_select")) {
        if (!document.getElementById("owner_select").tomselect){
        new TomSelect("#owner_select",{
                  searchField: ['name'],
        valueField: 'id',
        labelField: 'name',
        options: [],
        maxOptions: 5,
        searchPlaceholder: 'Choose User...',
        searchOnKeyUp: true,
        load: function (type,callback) {
            if (type.length < 2) { return; } else {
                let url = "/repositories/populate_users?search=" + type;
                fetch(url).then(response => response.json()).then(data => {
                    callback(data.users.map(user => {return {id: user.id, name: user.name}}));
                });
            }
        },
        shouldLoad: function (type) {
            return type.length > 2;
        }
        })}}
    });
</script>