<% provide(:title, "New Project Proposal") %>
<section id="new-repo">
  <div class="title"><%=t('project_proposal.new') %></div>

  <%= form_for @project_proposal, url:{controller:"project_proposals", action:"create"}, html: {multipart: true} do |f| %>
    
    <div class="mb-3 required">
      <%= f.label :username, t('project_proposal.name'), class: "form-label" %>
      <div><%=t('project_proposal.name_short_text') %> </div>
      <%= f.text_field :username, class: 'form-control', autofocus: true %>

    </div>
    
    <div class="mb-3 required">
      <%= f.label :email, t('project_proposal.email'), class: "form-label" %>
      <div><%=t('project_proposal.email_short_text') %></div>
      <%= f.email_field :email, class: 'form-control'%>

    </div>
    
    <div class="mb-3 required">
      <%= f.label :title, t('project_proposal.title'), class: "form-label" %>
      <div><%=t('project_proposal.title_short_text') %></div>
      <%= f.text_field :title, class: 'form-control' %>

    </div>
    
    <div class="mb-3 required">
      <%= f.label :client_type, t('project_proposal.client_type'), class: "form-label" %>
      <div><%=t('project_proposal.client_type_short_text') %></div>
      <div class='checkbox-list form-check'>
        <%= f.radio_button :client_type, t('project_proposal.client_type_organization'), :checked => true, :class => 'show_extra form-check-input', :style => 'display:inline' %>
        <%= f.label 'client_type_organization', t('project_proposal.client_type_organization'), :id => 'type', :style => 'display:inline', class: "form-check-label" %>
        <br>
        <%= f.radio_button :client_type, t('project_proposal.client_type_individual'), :class => 'show_extra form-check-input', :style => 'display:inline' %>
        <%= f.label 'client_type_individual', t('project_proposal.client_type_individual'), :id => 'type', :style => 'display:inline', class: "form-check-label" %>
      </div>
    </div>
    
    <div class="mb-3 required">
      <%= f.label :client, "Client", class: "form-label" %>
      <div><%=t('project_proposal.client_short_text') %></div>
      <%= f.text_field :client, class: 'form-control' %>
    </div>
    
    <div class="mb-3 required">
      <%= f.label :client_interest, t('project_proposal.client_interest_level'), class: "form-label" %>
      <div><%=t('project_proposal.client_interest_level_short_text') %></div>
      <div class='checkbox-list form-check'>
        <%= f.radio_button :client_interest, t('project_proposal.client_interest_level_low'), :checked => true, :class => 'show_extra form-check-input', :style => 'display:inline' %>
        <%= f.label 'client_interest_low', t('project_proposal.client_interest_level_low'), :id => 'type', :style => 'display:inline', class:"form-check-label" %>
        <br>
        <%= f.radio_button :client_interest, t('project_proposal.client_interest_level_medium'), :class => 'show_extra form-check-input', :style => 'display:inline' %>
        <%= f.label 'client_interest_medium', t('project_proposal.client_interest_level_medium'), :id => 'type', :style => 'display:inline', class:"form-check-label" %>
        <br>
        <%= f.radio_button :client_interest, t('project_proposal.client_interest_level_high'), :class => 'show_extra form-check-input', :style => 'display:inline' %>
        <%= f.label 'client_interest_high', t('project_proposal.client_interest_level_high'), :id => 'type', :style => 'display:inline', class:"form-check-label" %>
      </div>
    </div>
    <br/>
    <div class="mb-3 required">
      <%= f.label :client_background, t('project_proposal.client_background'), class: "form-label" %>
      <div><%=t('project_proposal.client_background_short_text') %></div>
      <div style="width: 420px;">
        <%= f.hidden_field :client_background, id: :project_proposal_client_background, class: "form-control" %>
        <trix-editor input="project_proposal_client_background"></trix-editor>
      </div>
    </div>
    <br/>
    <div class="mb-3">
      <%= f.label :supervisor_background, t('project_proposal.supervisor_background'), class: "form-label" %>
      <div><%=t('project_proposal.supervisor_background_short_text') %></div>
      <div style="width: 420px;">
        <%= f.hidden_field :supervisor_background, id: :project_proposal_supervisor_background, class: "form-control" %>
        <trix-editor input="project_proposal_supervisor_background"></trix-editor>
      </div>
    </div>
    <br/>
<!--    <div class="mb-3">-->
      <!--<div class = 'checkbox-list'>-->
      <!--<%= f.collection_check_boxes :area, AreaOption.show_options, :name, :name do |b| %>-->
        <!--<%= b.label { b.check_box + b.text } %>-->
        <!--
      <% end %>-->
      <!--</div>-->
<!--      -->
<!--    </div>-->
    <div class="mb-3 required">
      c      <div></div>
      <div style="width: 420px;">
        <%= f.hidden_field :description, id: :project_proposal_description, class: "form-control" %>
        <trix-editor input="project_proposal_description" style="min-height: 100px;"></trix-editor>
      </div>
    </div>

    

    <%= label_tag :file, t('project_proposal.project_files').html_safe, class:"form-label" %>
    <div class="mb-3">
      <div class="input-group mb-3">
        <%= file_field_tag 'files[]', type: :files, multiple: true, class: 'form-control files_', aria_label: t('project_proposal.project_files') %>
        <button class="btn btn-success d-inline-block float-end w-auto" type="button" id="new-file-input">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>

    <div id="file-container"></div>
    <div class="mb-3 required">
      <%= label_tag :photo, t('project_proposal.gallery'), class:"form-label required" %>
      <div class="input-group mb-3">
        <%= file_field_tag 'images[]', type: :files, multiple: true, class: "form-control d-inline-block float-start image-upload", aria_label: t('repo.image_select') %>
        <button class="btn btn-success d-inline-block float-end w-auto" type="button" id="new-photo-input">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="mb-3">
      <div class="repo-image">
        <div id="dragndrop"  ondrop="dragndrop(event);" ondragover="dragover(event);">
          
          <%= fa_icon 'cloud-upload' %>
          <p>Drag &amp; Drop</p>
        </div>
      </div>
    </div>

    
    <div class="mb-3">
      <%= f.label :equipments, t('project_proposal.possible_tech'), class: "form-label" %>
      <%= f.text_area :equipments, class: 'form-control' %>
    </div>
    
    <div class="mb-3">
      <%= f.label :youtube_link, "Youtube Link", class: "form-label" %>
      <div><%=t('project_proposal.youtube_text') %></div>
      <%= f.text_field :youtube_link, class: 'form-control' %>
    </div>
    
    <div class="mb-3">
      <%= f.label :past_experiences, t('project_proposal.past_experience'), class: "form-label" %>
      <%= f.text_area :past_experiences, class: 'form-control', value: t('project_proposal.no_past_experience') %>

      <div id="linkRef" class="input-group">
        <button type="button" id="link-list" class="btn btn-primary link-list btn-sm"><%=t('project_proposal.add_link') %></button>
        <button type="button" id="remove-link-list" class="btn btn-danger text-white btn-sm"><%=t('project_proposal.remove_link') %></button>
        <ul class="main_ul mt-2"></ul>
      </div>
    </div>

    
    <div class="mb-3 required">
      <%= f.label :project_cost, t('project_proposal.expected_cost'), class: "form-label" %>
      <div><%=t('project_proposal.expected_cost') %></div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">$</span>
        <%= f.number_field :project_cost, class: 'form-control', value: 0 %>
      </div>
    </div>
    
    <div class="mb-3 required">
      <%= f.label :project_type, t('project_proposal.project_type'), class: "form-label" %>
      <div>Choose a project type / Choisissez un type de projet</div>
      <div class='checkbox-list form-check'>
        <%= f.radio_button :project_type, 'General', :checked => true, :class => 'show_extra form-check-input', :style => 'display:inline' %>
        <%= f.label 'project_type_general', 'General', :id => 'type', :style => 'display:inline', class:"form-check-label" %>
        <br>
        <%= f.radio_button :project_type, t('project_proposal.project_type_client_specific'), :class => 'show_extra form-check-input', :style => 'display:inline' %>
        <%= f.label 'project_type_client_specific', t('project_proposal.project_type_client_specific'), :id => 'type', :style => 'display:inline', class:"form-check-label" %>
        <br>
        <%= f.radio_button :project_type, t('project_proposal.project_type_na'), :class => 'show_extra form-check-input', :style => 'display:inline' %>
        <%= f.label 'project_type_na__so', t('project_proposal.project_type_na'), :id => 'type', :style => 'display:inline', class:"form-check-label" %>
      </div>
    </div>
    
    <div class="mb-3">
      <%= f.label :categories, t('project_proposal.category'), class: "form-label" %>
      <div><%=t('project_proposal.category_short_text') %>
      </div>
    <%= f.select :categories, options_from_collection_for_select(CategoryOption.show_options, :name, :name), {include_blank: "Select a category...", include_hidden:false},{class: "profile-text form-control form-select",multiple: true} %>

    </div>

    <%= recaptcha_tags %>

    

    <%= f.submit t('project_proposal.create'), class: "btn btn-primary", id: "waiting-save-button", data: {disable_with: false} %>
    <span id="status-save"></span>

  <% end %>

</section>
